<section class= mt-2>
 <div class='container grid'>
  <%= render partial: "shared/user", locals: { user: @user } %>
  <div class="row mb-4 border border-dark">
   <div class="col mb-4 pt-4">
     <%= @user.bio %>
   </div>
  </div>
  
<% @user.recent_posts.each do |post| %>

<h4><%= link_to post.title, user_post_path(@user,post) %></h4>
<p><%= post.text %></p>
<p>
<small>Comments: <%= post.comments_counter || 0 %>,</small> 
<small>Likes: <%= post.likes_counter || 0 %></small>
</p>

<% end %>

<button>
<%= link_to 'See all Post', user_posts_path(@user) %>
</button>
 
 </div>
 
</section>



