<section class="container">
  <div class="row border mt-3 p-3">
    <div class="d-flex justify-content-between w-100">
      <h5 class=""><%= @post.title %> by <%= @user.name %></h5>
      <p class="text-right">
        <small>Comments: <%= @post.comments_counter || 0 %>,</small>
        <small>Likes: <%= @post.likes_counter || 0 %></small>
      </p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div classs="d-flex ">
    <%= link_to 'Add a new comment', new_user_post_comment_path(@user, @post) %>
    <%= link_to 'Like', user_post_likes_path(@user, @post),  data: { turbo_method: :post }, class: 'btn btn-primary' %>
    <% if can? :destroy, @post %>
      <%= link_to 'Delete', user_post_path(@user, @post), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <div class="border mt-3 p-2">
    <% @post.comments.each do |comment| %>
      <div class="row d-flex align-items-center mx-1 mb-2">
        <div class='col p-2'>
          <%= comment.author.name %> : <%= comment.text %>
        </div>
        <% if can? :destroy, @post %>
          <span>
            <%= link_to 'Delete', user_post_comment_path(@user, @post, comment) , data: { turbo_method: :delete}, class: "py-2 px-4 btn btn-danger text-white" %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
